@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

@layer components {
  .tray-full {
    @apply lg:grid-cols-12 md:grid-cols-10 sm:grid-cols-8 grid-cols-6;
  }
  .tray-half {
    @apply lg:grid-cols-8 md:grid-cols-6 grid-cols-4;
  }
  .tray-min {
    @apply min-h-[3.5rem] min-w-[3.5rem];
  }
  .tray-group {
    @apply md:my-3 my-2 px-6 mx-auto rounded-lg place-items-center grid grid-flow-row tray-min max-w-3xl;
    max-width: 48rem;
  }
  .tray-single {
    @apply my-2 rounded-md place-items-center grid max-w-min grid-cols-1 tray-min;
  }
  .word-container {
    @apply container bg-gray-200 m-2 rounded-lg border-orange-400 border-solid border-4;
  }
  .is-dragging-object {
    @apply border-solid border-2 border-white leading-none;
  }
  .letter-text {
    @apply text-white font-bold;
  }
  .letter-object {
    @apply cursor-pointer rounded-md md:p-3 md:m-2 md:w-12 md:h-12 p-2 m-0.5 w-10 h-10 text-center select-none z-10 uppercase;
  }
  .letter-start-bg {
    @apply bg-gray-500 hover:bg-gray-600 letter-text;
  }
  .letter-good-bg {
    @apply bg-green-600 hover:bg-green-900 letter-text;
  }
  .letter-bad-bg {
    @apply bg-yellow-400 hover:bg-yellow-800 letter-text;
  }
  .letter-dead-bg {
    @apply bg-gray-800 letter-text;
  }
  .good-border {
    @apply border-solid border-4 border-green-600;
  }
  .accepts-drag.good-border {
    @apply outline outline-green-400 outline-8;
  }
  .bad-border {
    @apply border-solid border-4 border-yellow-400;
  }
  .accepts-drag.bad-border {
    @apply outline outline-yellow-200 outline-8;
  }
  .dead-border {
    @apply border-solid border-4 border-gray-600;
  }
  .accepts-drag.dead-border {
    @apply outline outline-gray-400 outline-8;
  }
  .button-blue {
    @apply bg-cyan-600 text-gray-200 p-1 border-solid border-2 border-slate-200 text-center rounded-md px-3 m-1 focus:outline-cyan-900;
  }

  .form-check-input {
    @apply bg-gray-500;
    margin-top: .1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
    background-position: 0;
    transition: background-position .15s ease-in-out;
  }
  .form-check-input:checked {
    @apply bg-cyan-600;
    background-position: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
  }
  .settings-box {
    @apply p-2 m-0.5 outline outline-1 outline-slate-600 rounded-md;
  }
  .settings-box-2 {
    @apply settings-box col-span-2;
  }
  .settings-box-3 {
    @apply settings-box col-span-3;
  }
  .settings-box-4 {
    @apply settings-box col-span-4;
  }

  .text-slot {
    animation: slot-stop 0.25s;
    height: 4rem;
    overflow: hidden;
  }
  .text-slot.spin {
    animation: slot-y 0.2s infinite;
    text-shadow: 0 0 32px white;
    color: transparent;
  }
  .text-slot.spin:before {
    content: attr(title);
    display: block;
    text-shadow: 0 0 14px white;
    animation-delay: 0.2s;
  }
  .text-slot.intro {
    animation: slot-y-intro 0.5s 3;
  }
  @keyframes slot-y-intro {
    from {
      transform: translateY(-100%);
      text-shadow: 0 0 2px white; 
      animation-timing-function: cubic-bezier(0, 1, 0, 0);
    }
    to {
      transform: translateY(100%);
      text-shadow: 0 0 0 white;
    }
  }
  @keyframes slot-y {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
  }
  @keyframes slot-stop {
    from {
      transform: translateY(-100%);
      animation-timing-function: cubic-bezier(0, 1, -0.2, 1);
      text-shadow: 0 0 13px white;
    }
    to {
      transform: translateY(0);
      text-shadow: 0 0 0 white;
    }
  }
}