@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

@layer components {
  .tray-full {
    @apply lg:grid-cols-12 md:grid-cols-10 sm:grid-cols-8 grid-cols-6;
  }
  .tray-half {
    @apply lg:grid-cols-8 md:grid-cols-6 grid-cols-4;
  }
  .tray-group {
    @apply md:my-4 my-2 px-6 mx-auto rounded-lg place-items-center grid grid-flow-row auto-rows-auto;
    min-width: 4rem;
    min-height: 4rem;
    max-width: 48rem;
  }
  .tray-single {
    @apply my-2 rounded-md place-items-center grid grid-cols-1;
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4rem;
  }
  .word-container {
    @apply container bg-gray-200 m-2 rounded-lg border-orange-400 border-solid border-4;
  }
  .is-dragging-object {
    @apply border-solid border-2 border-white leading-none;
  }
  .letter-text {
    @apply text-white font-bold;
  }
  .letter-object {
    @apply cursor-pointer rounded-md md:p-3 md:m-2 md:w-12 md:h-12 p-2 my-1 w-10 h-10 text-center select-none z-10 uppercase;
  }
  .letter-start-bg {
    @apply bg-gray-500 hover:bg-gray-600 letter-text;
  }
  .letter-good-bg {
    @apply bg-green-600 hover:bg-green-900 letter-text;
  }
  .letter-bad-bg {
    @apply bg-yellow-400 hover:bg-yellow-800 letter-text;
  }
  .letter-dead-bg {
    @apply bg-gray-800 letter-text;
  }
  .good-border {
    @apply border-solid border-4 border-green-600;
  }
  .accepts-drag.good-border {
    @apply outline outline-green-400 outline-8;
  }
  .bad-border {
    @apply border-solid border-4 border-yellow-400;
  }
  .accepts-drag.bad-border {
    @apply outline outline-yellow-200 outline-8;
  }
  .dead-border {
    @apply border-solid border-4 border-gray-600;
  }
  .accepts-drag.dead-border {
    @apply outline outline-gray-400 outline-8;
  }

  .form-check-input {
    margin-top: .1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
    background-position: 0;
    transition: background-position .15s ease-in-out;
  }
  .form-check-input:checked {
    background-position: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
    background-color: rgb(8, 145, 178);
  }
}