<select class="appearance-none button-blue transition ease-in-out" aria-label="keyboard select"
      ...attributes>
        {{#each @options as |o|}}
          <option value={{o.value}} {{@setSelected o.value @selected}} >{{o.name}}</option>
        {{/each}}
</select>