<input 
  class="form-check-input appearance-none w-9 rounded-full float-left h-5 align-top bg-no-repeat bg-contain button-blue cursor-pointer shadow-sm" 
  type="checkbox" 
  role="switch"
  checked={{@checked}}
  id="switch" ...attributes>
<label class="form-check-label inline-block mx-2" for="switch">{{yield}}</label>
