    <input 
      class="form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm" 
      type="checkbox" 
      role="switch"
      checked={{@checked}}
      id="switch" ...attributes>
    <label class="form-check-label inline-block text-slate-300 mx-2" for="switch">{{yield}}</label>