<div 
   {{on "mouseenter" (fn this.hoverShowData true)}}
   {{on "mouseleave" (fn this.hoverShowData false)}}
  class={{concat "p-2 text-center uppercase cursor-help select-none " this.wordClass}}>
    {{@word}}
</div>
